.card_Title_V2{
    font-family: 'NunitoBold';
    font-size: 1.8rem;

    align-self: center;
}

.card_V2{
flex-grow: 1;
padding: 2.5rem;

border: 0.2rem solid #1e1e1e;
border-radius: 1.5rem;

background-color: #080808;

display: grid;
gap: 2.5rem;
grid-template-columns: min-content;
grid-template-areas:

    'P1 P2 P3'
    'P4 P4 P5'

;
}

.card_V2:hover{
    background-color: #151515;
}

.cardP1{
    grid-area: P1;

    justify-self: start;
}
.cardP2{
    grid-area: P2;
}
.cardP3{
    grid-area: P3;

    justify-self: end;
}
.cardP4{
    grid-area: P4;
}
.cardP5{
    grid-area: P5;

    justify-self: end;
}

@media (max-width: 600px){
.card_V2{
grid-template-areas:

    'P1 P3'
    'P5 P5'
    'P2 P2'
    'P4 P4'

;
    }
}